body {
    background-color: #f2f2f2;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}
.container{
    margin: 16px 16px;
}

h1 {
    width: 89px;
    height: 35px;
    color: #13183f;
    margin-top: 22px;
    margin-left: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    font-family: 'Cinzel', serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
.blue-button {
    margin-top:16px;
    width: 140px;
    height: 48px;
    color:white ;
    background-color: #13183f;
    border-radius: 18px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    z-index: 3;
    transition: 1s;
}

.max-text {
    width: 343px;
    height: 101px;
    color: #13183f;
    line-height: 50px;
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 38px;
}
.first-text {
    max-width: 343px;
    height: 78px;
    color: #83869a;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 26px;
}
.pink-button {
    width: 167px;
    height: 56px;
    border-radius: 31.5px;
    background:linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%); 
    color: white;    
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 24px;
    transition: 1s;
}

.img-bg-container {
    width: 253px;
    height: 253px;
    margin-top: 70px;
    border-radius: 158.5px;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    padding-top: 16px;
    overflow: hidden;
    display: block;
    margin: 86px auto;
}
.img-container {
    display: flex;
    align-items: center;
}

.girl-whitedivs {
    position: relative;
    width: 100%;
    height: 300px;
    
}
.white-divs2 {
    display: flex;
    flex-direction: row;
}
.white-div-top {
    width: 105px;
    height: 100px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 15%;

}
.light-text {
    height: 28px;
    font-size: 14px;
    font-size: normal;
    font-weight: 700;
    font-variation-settings: 14px;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 28px;
    color: #83869a;
}
.number {
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #13183f;

}
.white-div-bottom {
    background-color: white;
    width: 155px;
    height: 100px;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:-25px;
}
.clear{
    clear: both;
} 
.pink-div {
    margin-top: 86px;
    width: 95%;
    height: 120px;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    margin-right: 16px;
    text-align: start;
    padding-left: 28px;
    display: flex;
    align-items:center;
    border-radius: 10px;
}
.inside-pinkdiv {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: white;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.5px;
}
.icons-div-text {
    margin-left: 28px;
}
.icon-circles {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.title { 
    margin-top: 24px;
    color: #13183f;
    line-height: 25.2px;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    letter-spacing: 0.5px;
}
.text {
    max-width: 286px;
    max-height: 78px;
    margin-top: 16px;
    font-style: normal;
    line-height: 26px;
    color: #83869a;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.5px;
}
.start {
    margin-top: 24px;
    color: #f74780;
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.5px;
    transition: 1s;
}
.for-margint {
    margin-top:48px;
}
footer {
    width: 100%;
    height: 120px;
    background-color: #13183f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    font-weight: 800;
    font-size: 28px;
    line-height: 35.28px;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
    margin-left: 16px;
}
.rectangle {
    display: none;
}
.footer-but {
    margin-right: 16px;
    width: 140px;
    height: 48px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1px;
    transition: 1s;
}
.pink-button:hover {
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: pointer;
    transform: scale(1.1);
}
.blue-button:hover {
    background-color: #666ca3;
    transform: scale(1.1);
    cursor: pointer;
}
.start:hover {
    color: #ffa7c3;
    cursor: pointer;
}
.footer-but:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%); 
    transform:scale(1.1);
    cursor: pointer;
}
.boxes {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
@media screen and (min-width:670px){
    .rectangle {
        width: 50%;
        display: block;
        float: right;
        position: relative;
        top: -20%;
        
        z-index: 1;
    }
    .img-theme {
        width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-right: 0;
    
    } 
    
    .forresolution {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-between;
    }
    .text-first {
        width: 40%;
        float: left;
    }
    .girl-whitedivs {
        width: 400px;
        float: left;
        margin-left: 12px;
        position: absolute;
        z-index: 4;
        
    }
    .img-container {
        width: 350px;
        height: 350px;
        position: relative;
    }
    .img-bg-container {
        height: 329.93px;
        width: 238.72px;
        background-repeat: no-repeat;
        background:linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    }
    .girl-w-glass {
        display: none;
    }
    .pink-div {
        width: 339px;
        height: 259px;
        margin-top: 150px;
    }
    .inside-pinkdiv {
        width: 286px;
        height: 64px;
    }
    .boxes{
        display: flex;
        flex-wrap: wrap;
        float: left;
    }
    .addtop {
        margin-top: 99px;
    }
    .pink-button {
        margin-top: 50px;
    }
    .icons-div-text {
        width: 339px;
        height:259px;
    }
    .for-foot {
        margin-bottom: 86px;
    }
}
@media screen and (min-width:1100px) {
    .icons-div-text {
        margin-top: 70px;
    }
    .max-text {
        font-size: 56px;
        width: 457px;
        height: 143px;
    }
    .first-text {
        font-size: 18px;
        line-height: 28px;
        width: 445ps;
        height: 84px;
    }
    .container {
        margin-left: 165px;
    }
    h1 {
        margin-left: 165px;
    }
    .footer-text {
        margin-left: 165px;
    }
    .addtop {
        margin-top: 110px;
    }
}
@media screen and (min-width:1600px) {
    .third {
        margin-top:110px ;
    }
}
@media screen and (min-width:2000px) {
    .fourth {
        margin-top:110px;
    }
}
@media  screen and (min-width:2500px) {
    .fifth {
        margin-top: 110px;
    }    
}
/* done!5 */